@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Source+Sans+Pro&family=Inconsolata:wdth,wght@75,300&display=swap');

/* Base */
/******************************************************************************************/

:root {
    --handrail-offset: 20px;
    --light-gray: #CCCCCC;
    --medium-gray: #808080;
    --dark-gray: #3E4349;
    --keyword-blue: #005187;
    --handrail-margin-block: 1rem;
    --tombstone-side-length: 0.5em;
    --ellipsis-width: 1em;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 3rem 0 1.38rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
}

h1 {
    font-size: 3.052rem;
    font-weight: 700;
}

h2 {
    font-size: 2.441rem;
    font-weight: 600;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
    font-weight: 500;
}

section {
    margin-block-end: 2rem;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    color: var(--dark-gray);
}

.hide {
    display: none!important;
}


/* Layout */
/******************************************************************************************/

.documentwrapper {
    max-width: 800px;
    margin: auto;
}


/* Module */
/******************************************************************************************/

.handrail {
    border-width: 0 0 0 1px;
    border-color: var(--light-gray);
    border-style: solid;
    padding: 1rem 0 1rem var(--handrail-offset);
    margin-block: var(--handrail-margin-block) var(--handrail-margin-block);

    &--hug {
        margin-block: 0 0;
        padding: 0 0 0 var(--handrail-offset);
    }

    &--offset {
        position: relative;
        left: calc( -1 * var(--handrail-offset));
    }

    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
        margin-block: 0 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

}

.tombstone {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        height: var(--tombstone-side-length);
        width: var(--tombstone-side-length);
        background-color: var(--keyword-blue);
    }

    &.with-ellipsis::before {
        content: '';
        display: flex;
        border-style: solid;
        border-color: var(--keyword-blue) var(--keyword-blue) var(--keyword-blue) var(--keyword-blue);
        border-width: .0625em 0 .0625em .0625em;
        position: absolute;
        right: 8px;
        width: var(--ellipsis-width);
        height: var(--tombstone-side-length);
        justify-content: space-evenly;
        align-items: center;
        background:
	    radial-gradient(farthest-side, var(--keyword-blue) 100%, transparent) 2px/2px 2px,
	    radial-gradient(farthest-side, var(--keyword-blue) 100%, transparent) 6px/2px 2px,
	    radial-gradient(farthest-side, var(--keyword-blue) 100%, transparent) 10px/2px 2px;
        background-repeat: no-repeat;
    }

}

.options {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    color: var(--dark-gray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    letter-spacing: .1em;
    padding-block: .5em;
    background: #EEE;
    top: 2em;
    right: 0;
    z-index: 1;

    & .option {
        display: block;
        padding-inline: .75em;
        width: 100%;
        text-align: end;
    }

}

.handrail__btn {
    padding-inline: .1em;

    &.handrail__btn--relative {
        position: relative;
    }

    &-container {
        position: absolute;
        left: calc(-1.2em - 1px);
        background: #EEE;
        display: none;

        & .handrail__btn:last-of-type  {
            border-left: 1px solid var(--light-gray);
        }

    }

}

.keyword {
    color: var(--keyword-blue);
    font-weight: bold;
}

.proof {
    position: relative;

    &__title {
        margin-block-end: 1.25rem;
    }

    &-container > .step:last-of-type {
        margin-block-end: 0;
    }
}

.step {
    margin-block-end: 1.25rem;

    &__number {
        display: none;
        color: gray;
        max-width: 40px;
        position: absolute;
        left: 0;
        transform: translateX(-100%) translateX(-1em);
        font-family: 'Inconsolata', monospace;
    }

}

.statement {
    max-width: inherit;
    margin-block-end: 0.25rem;

    & ol {
        margin-block: 0 0;
        padding-inline-start: 1.5rem;
    }

    &-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        max-width: 100%;
    }

}


/* State */
/******************************************************************************************/

a:link, a:visited, a:active {
    text-decoration: none;
    color: #088408;
}

a:hover {
    text-decoration: underline;
}

.options .option:hover {
    color: var(--dark-gray);
    text-shadow: 0 0 1px #000;
    cursor: pointer;
    background: var(--light-gray);
}

.handrail__btn:hover {
    background: var(--light-gray);
    cursor: pointer;

    & > span {
        text-shadow: 0 0 1px black;
    }

}

.proof {

    &:not(.collapsed) {
        padding-bottom: 0;
    }

    &.collapsed > .proof__title {
        margin-block-end: 0;
    }

    &:hover .handrail__btn-container {
        display: flex;
    }

}

.step:hover > .statement-container .step__number {
    display: flex;
}


/* Misc. */
/******************************************************************************************/

.headerlink {
    display: none;
}
