@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Source+Sans+Pro&family=Inconsolata:wdth,wght@75,300&display=swap');

/* Base */
/******************************************************************************************/

:root {
    --handrail-offset: 20px;
    --side-padding: 5.5em;
    --handrail-margin-block: 1rem;
    --tombstone-side-length: 0.5em;
    --ellipsis-width: 1em;

    --gray-900: #2C343A;
    --gray-800: #404C54;
    --gray-700: #53646E;
    --gray-600: #677B89;
    --gray-500: #7F929F;
    --gray-400: #99A8B2;
    --gray-300: #B3BFC6;
    --gray-200: #CED5DA;
    --gray-100: #E8EBED;

    --lgt-gray: #B3BFC6;
    --med-gray: #7F929F;
    --drk-gray: #2C343A;

    --link-color: #108969;
    --link-color-hover: #69B4A9;
    --keyword-blue: #005187;

    --clock-color: #DD6F40;
    --star-color: #22a695;

    --body-line-height: 1.5;
    --header-line-height: 1.3;

    --h1-size: 3.052rem;
    --h2-size: 2.441rem;
    --h3-size: 1.953rem;
    --h4-size: 1.563rem;
    --h5-size: 1.250rem;
    --h6-size: 1.000rem;

    --bold: 700;
    --semi: 600;
    --medium: 500;
    --regular: 400;
    --light: 300;

    --border-thick: 6px;
    --border-med: 4px;
    --border-thin: 2px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, h4, h5, p.topic-title {
    font-family: 'Montserrat', sans-serif;
    line-height: var(--header-line-height);
}

h1 {
    font-size: var(--h1-size);
    margin: var(--h1-size) 0 var(--h1-size) 0;
    font-weight: var(--bold);
}

h2 {
    font-size: var(--h2-size);
    margin: var(--h2-size) 0 var(--h2-size) 0;
    font-weight: var(--semi);
}

h3, p.topic-title {
    font-size: var(--h3-size);
    margin: var(--h3-size) 0 var(--h3-size) 0;
    font-weight: var(--medium);
}

h4 {
    font-size: var(--h4-size);
    margin: var(--h4-size) 0 var(--h4-size) 0;
    font-weight: var(--medium);
}

h5 {
    font-size: var(--h5-size);
    margin: var(--h5-size) 0 var(--h5-size) 0;
    font-weight: var(--regular);
}

section.level-1 {
    margin-block: calc(var(--h1-size));
}

@for $i from 2 through 5 {
    section.level-#{$i} {
	margin-block: calc(var(--h#{$i}-size) * 1.5);
    }
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: var(--regular);
    font-size: 1rem;
    line-height: var(--body-line-height);
    color: var(--drk-gray);
}

.hide {
    display: none!important;
}


/* Layout */
/******************************************************************************************/

.documentwrapper {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 0 var(--side-padding) 0 var(--side-padding);
    overflow: hidden;
}

figure {
    text-align: center;
    margin-block: var(--h2-size);
}

figcaption {
    margin-block: var(--h4-size);
    text-align: left;
}


/* Module */
/******************************************************************************************/

.handrail {
    border-width: 0 0 0 var(--border-thin);
    border-color: var(--lgt-gray);
    border-style: solid;
    // padding: 1rem 0 1rem var(--handrail-offset);
    padding: 0 0 0 var(--handrail-offset);
    margin-block: var(--handrail-margin-block) var(--handrail-margin-block);
    position: relative;

    &__icons {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(calc(-100% - 1.5*var(--handrail-offset)));
        flex-direction: column;
        align-items: flex-end;
    }

    &__icons--stars {
        color: var(--star-color);
    }

    &__icons--clocks {
        color: var(--clock-color);
    }

    &--hug {
        margin-block: 0 0;
        padding: 0 0 0 var(--handrail-offset);
    }

    & > p, & > .proof__title {
        padding-block: 1rem;
    }

    &--hug > p, &--hug > .proof__title {
        padding-block: 0;
    }

    &--offset {
        transform: translateX(calc(-1 * var(--handrail-offset) - var(--border-thin)));
        width: calc(100% + var(--handrail-offset) + var(--border-thin));
    }

    @for $i from 1 through 5 {
	& > h#{$i} {
	    margin-block: calc(var(--h#{$i}-size) / 2);
	    padding-block: calc(var(--h#{$i}-size) / 2);
	}
    }

}

.tombstone {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        height: var(--tombstone-side-length);
        width: var(--tombstone-side-length);
        background-color: var(--keyword-blue);
    }

    &.with-ellipsis::before {
        content: '';
        display: flex;
        border-style: solid;
        border-color: var(--keyword-blue) var(--keyword-blue) var(--keyword-blue) var(--keyword-blue);
        border-width: .0625em 0 .0625em .0625em;
        position: absolute;
        right: 8px;
        width: var(--ellipsis-width);
        height: var(--tombstone-side-length);
        justify-content: space-evenly;
        align-items: center;
        background:
	    radial-gradient(farthest-side, var(--keyword-blue) 100%, transparent) 2px/2px 2px,
	    radial-gradient(farthest-side, var(--keyword-blue) 100%, transparent) 6px/2px 2px,
	    radial-gradient(farthest-side, var(--keyword-blue) 100%, transparent) 10px/2px 2px;
        background-repeat: no-repeat;
    }

}

.options {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--light);
    font-size: 0.75rem;
    // letter-spacing: .1em;
    padding-block: .5em;
    top: 2em;
    right: 0;
    z-index: 1;
    background: var(--gray-100);
    color: var(--drk-gray);

    & .option {
        display: block;
        padding-inline: .75em;
        width: 100%;
        text-align: end;
    }

}

.handrail__btn {
    padding-inline: .1em;

    &.handrail__btn--relative {
        position: relative;
    }

    &-container {
        position: absolute;
        left: calc(-1.2em);
        transform: translateX(calc(-1 * var(--border-thin)));
        background: var(--gray-100);
        font-weight: var(--bold);
        display: none;

        & .handrail__btn:last-of-type  {
            border-width: 0 0 0 var(--border-thin);
            border-color: var(--lgt-gray);
            border-style: solid;
        }

    }

}

.handrail.handrail--hug > .handrail__btn-container {
    top: 0;
}

.handrail:not(.handrail--hug) > .handrail__btn-container {
    top: calc(var(--h2-size)/2 + (var(--header-line-height)*var(--h2-size) - var(--body-line-height)*1rem)/2);
}

.keyword {
    color: var(--keyword-blue);
    font-weight: var(--bold);
}

.proof {

    &-container > .step:last-of-type {
        margin-block-end: 0;
    }
}

.step {
    margin-block-end: 1.25rem;

    &__number {
        display: none;
        color: gray;
        position: absolute;
        left: 0;
        transform: translateX(-100%) translateX(-2em);
        font-family: 'Inconsolata', monospace;
    }

}

.statement {
    max-width: inherit;
    margin-block-end: 0.25rem;

    & ol {
        margin-block: 0 0;
        padding-inline-start: 1.5rem;
    }

}


/* State */
/******************************************************************************************/

a:link, a:visited, a:active {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    color: var(--link-color-hover);
}

.options .option:hover {
    text-shadow: 0 0 1px var(--lgt-gray);
    cursor: pointer;
    background: var(--drk-gray);
    color: var(--lgt-gray);
}

.handrail__btn:hover {
    background: var(--gray-900);
    color: var(--gray-200);
    cursor: pointer;

    & > span {
        text-shadow: 0 0 1px black;
    }

}

.handrail:hover > .handrail__btn-container,
.handrail:hover > .handrail__icons {
    display: flex;
}

.proof {

    &:not(.collapsed) {
        padding-bottom: 0;
    }

    &.collapsed > .proof__title {
        margin-block-end: 0;
    }

}

.step:hover > .step__number {
    display: block;
}


/* Theming */
/******************************************************************************************/

.handrail.stars-1,
.handrail.clocks-1 {
    border-width: 0 0 0 var(--border-thin);

    & .handrail__btn:last-of-type  {
        border-width: 0 0 0 var(--border-thin);
    }

    & .handrail__btn-container {
        transform: translateX(calc(-1 * var(--border-thin)));
    }

}

.handrail.stars-2,
.handrail.clocks-2 {
    border-width: 0 0 0 var(--border-med);

    & .handrail__btn:last-of-type  {
        border-width: 0 0 0 var(--border-med);
    }

    & .handrail__btn-container {
        transform: translateX(calc(-1 * var(--border-med)));
    }

}

.handrail.stars-3,
.handrail.clocks-3 {
    border-width: 0 0 0 var(--border-thick);

    & .handrail__btn:last-of-type  {
        border-width: 0 0 0 var(--border-thick);
    }

    & .handrail__btn-container {
        transform: translateX(calc(-1 * var(--border-thick)));
    }

}

.handrail.clocks-2 {
    border-color: var(--clock-color);

    & .handrail__btn:last-of-type  {
        border-color: var(--clock-color);
    }

}

.handrail.stars-2 {
    border-color: var(--star-color);

    & .handrail__btn:last-of-type  {
        border-color: var(--star-color);
    }

}

.handrail.clocks-3 {
    border-color: var(--clock-color);

    & .handrail__btn:last-of-type  {
        border-color: var(--clock-color);
    }

}

.handrail.stars-3 {
    border-color: var(--star-color);

    & .handrail__btn:last-of-type  {
        border-color: var(--star-color);
    }

}

@media (min-width: 70em) {

    .documentwrapper {
        box-shadow: 0 0 8px 10px #eee;
        margin: 2.5em auto;
    }

}


@media (max-width: 48em) {

    :root {
        --h1-size: 2.488rem;
        --h2-size: 2.074rem;
        --h3-size: 1.728rem;
        --h4-size: 1.440rem;
        --h5-size: 1.200rem;
        --h6-size: 1.000rem;
        --side-padding: 3.5em;
    }

    .handrail--offset {
        transform: none;
        width: 100%;
    }

    .handrail--nested {
        transform: translateX(calc(-1 * var(--handrail-offset) - var(--border-thin)));
        width: calc(100% + var(--handrail-offset) + var(--border-thin));
    }

}
