@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Source+Sans+Pro&family=Inconsolata:wdth,wght@75,300&display=swap");

html {
  --pst-font-family-heading: 'Montserrat', sans-serif;
  --pst-font-family-base: 'Source Sans Pro', sans-serif;
  --pst-sidebar-secondary: 15rem;
}

html[data-theme="light"] {
  --pst-color-primary: #005187;
}

html[data-theme="dark"] {
  --pst-color-primary: #459db9;
}

.navbar-brand img {
  padding: 0.5rem;
}

.rsm-example {
  display: flex;
  gap: 2%;
}

.rsm-example-code {
  width: 49% !important;
  margin-top: 0 !important;
}

.rsm-example-code .highlight {
  height: 100%;
}

.rsm-example-code .highlight pre {
  height: 100%;
}

.rsm-example .manuscriptwrapper.embedded {
  width: 49%;
  border-radius: 0.25rem;
  border: 1px solid var(--pst-color-border);
  padding-block: 1rem;
  margin-bottom: 1em;
}

.bd-sidebar-primary {
  max-width: 20%;
}

h1, h2 {
  font-weight: var(--semi);
}

.footer-item {
  display: inline-block;
}

.footer-item:not(:last-child) {
  border-right: 1px solid var(--pst-color-text-base);
  margin-right: .5em;
  padding-right: .5em;
}
